.div {
  border: 1px solid brown;
  padding: 8px;
  background-color: yellow;
  length: 80px;
}

.h1 {
  text-align: left;
  text-transform: uppercase;
  color: #4CAF50;
}

.p1 {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}
