{% extends 'layout.html' %}



<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static/styles',filename='my_style.css') }}">



{% block body %}

    <div class = "div">
        <h1 class="h1" >Advanced Technology</h1>
    <p class="p1">

        We have also advanced our technology to include the following advanced technologies;

        <ol>

        <li>Structural Health Monitoring (SHM)</li>
        <li>Supersonic Flights</li>
        <li>Additive Manufacturing (3D Printing) </li>
        <li>Smart Automation and Blockchain</li>
        <li>Zero-Fuel Aircraft</li>

    </ol>


    </p>
    </div>




{% endblock %}