


{% extends 'layout.html' %}



<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static/styles',filename='my_style.css') }}">



{% block body %}

    <div class = "div">
        <h1 class="h1" >Business-class Aircraft</h1>
    <p class="p1"> Our business class aircrafts have upgraded amenities, seating, and service. These aircrafts have a potential to grow our economy. They have low service and frustrating processes but they are the the most affordable way to fly.
        The are allways priced several thousands of dollars compared to the costly upgraded counterparts </p>
    </div>




{% endblock %}