{% extends 'layout.html' %}



<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static/styles',filename='my_style.css') }}">



{% block body %}

    <div class = "div">
        <h1 class="h1" >Commercial Aircraft</h1>
    <p class="p1"> Our commercia aircrafts are spacius and are capable to haul passanges and freithts on a planed timetable. They are of various in sizes ranginging from single-engine freight carriers to the Airbus A330. They have a speed from below
        200 miles per hour to supersonic.   </p>
    </div>




{% endblock %}